#topDiv {
    display: table;
    border-collapse: separate;
    border-spacing: 15px;
    margin: auto;
    margin-top: 60px;
}

#mainDiv {
    display: table-row;
}

#inputDiv {
    display: table-cell;
    text-align: center;
    border-style: solid;
    border-color: #000088;

    padding-top: 20px;
    padding-right: 50px;
}

#outputDiv {
    display: table-cell;
    text-align: center;
    border-style: solid;

    border-color: #000088;
}

div {
    padding-bottom: 10px
}

label {
    float: left;
    width: 6em;
    text-align: right;
    padding-right: 4px
}

input {
    text-align: left;
}

#topInput {
    margin-top: 45px;
}

textarea {
    alignment: right;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 20px;
    font-size: 15px;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
